@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@{
    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }
}
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkor Skimboards</title>
    <link rel="stylesheet" href="/Themes/2016/Content/css/style.css">
    <link rel="stylesheet" href="/Themes/2016/Content/css/media-queries.css">
    <link rel="stylesheet" href="/Themes/2016/Content/css/fonts.css">
    <link href="/Content/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />


    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="/Themes/2016/Scripts/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script src="/Themes/2016/Scripts/script.js"></script>
    <script src="/Themes/2016/Scripts/script-map.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <script src="/Scripts/jquery.magnific-popup.min.js" type="text/javascript"></script>

    <!-- bxSlider CSS file -->
    <link href="/Themes/2016/Scripts/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/Themes/2016/Content/img/favicon!.ico" type="image/x-icon">
    <link rel="icon" href="/Themes/2016/Content/img/favicon!.ico" type="image/x-icon">
    <!--[if lte IE 8]>
    <script>
       document.createElement("article");
       document.createElement("footer");
       document.createElement("header");
       document.createElement("hgroup");
       document.createElement("section");
             document.createElement("aside");
             document.createElement("nav");
             document.createElement('figure');
             document.createElement('hgroup');
             document.createElement('menu');
    </script>
    <![endif]-->
    
</head>
<body>
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
    @Html.NopScripts(this.Url, ResourceLocation.Foot)
</body>
</html>
