@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div id="slider">
    <ul class="bxslider">
        <li><img src="/Themes/2016/Content/img/Linkor-wake-1.jpg" alt="Linkor-wake-1"/></li>
        <li><img src="/Themes/2016/Content/img/Linkor-wake-2.jpg" alt="Linkor-wake-2"/></li>
        <li><img src="/Themes/2016/Content/img/Linkor-wake-3.jpg" alt="Linkor-wake-3"/></li>
        <li><img src="/Themes/2016/Content/img/Linkor-wake-4.jpg" alt="Linkor-wake-4"/></li>
        <li><img src="/Themes/2016/Content/img/Linkor-wake-5.jpg" alt="Linkor-wake-4"/></li>
        <li><img src="/Themes/2016/Content/img/Linkor-wake-6.jpg" alt="Linkor-wake-4"/></li>
    </ul>
    <a href="#" id="linkorWake">
        <h2>LINKOR WAKE</h2></a>
</div>
@Html.Action("HomepageProducts", "Product")

