@model ProductDetailsModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;


@{
    var addToCartText = "";
    if (Model.UpdatedShoppingCartItemId > 0)
    {
        addToCartText = T("ShoppingCart.AddToCart.Update").Text;
    }
    else
    {
        addToCartText = T("ShoppingCart.AddToCart").Text;
        if (Model.IsRental)
        {
            addToCartText = T("ShoppingCart.Rent").Text;
        }
        if (Model.AvailableForPreOrder)
        {
            addToCartText = T("ShoppingCart.PreOrder").Text;
        }
    }
    <button type="submit" id="add-to-cart-button-@Model.ProductId" value="@addToCartText" data-productid="@Model.ProductId" onclick="AjaxCart
    .addproducttocart_details ('@Url.RouteUrl("AddProductToCart-Details", new {productId = Model.ProductId, shoppingCartTypeId = (int) ShoppingCartType.ShoppingCart})', '#product-details-form');return false;" class="by-in-basket">@addToCartText</button>

}

