@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

@if (Model.PictureModels.Count > 1)
{
    <div class="slider-shop">
        <ul class="bx-slider-two">
            @foreach (var picture in Model.PictureModels)
            {
                <li>
                    <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
                </li>
            }
        </ul>
    </div>
}






