@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

<div class="large-img left">
    <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" itemprop="image" id="main-product-img-@Model.Id" />
</div>