@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <h2>@T("HomePage.Products")</h2>
    <div class="services-wrap clearfix">
        @foreach (var item in Model)
        {
            @Html.Partial("_ProductBox", item)
        }
    </div>
    <a class="btn" href="@Url.RouteUrl("Category", new { SeName = "skimboards" })"><span>@T("Shop")</span></a>
}