@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <section class="container clearfix">

        <h2>@T("HomePage.Products")</h2>
        <div class="services-wrap clearfix">
            @foreach (var item in Model)
            {
                @Html.Partial("_ProductBox", item)
            }
        </div>
        <a href="/" class="btn"><span>Все доски</span></a>
    </section>
}